@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

html {
    scroll-behavior: smooth;
}

body {   
    font-family: "Montserrat"; 
    --color-foreground: white;
    --color-foreground-dimm: #aaa;
    --color-header-translucent: rgba(85, 105, 47, 0.5);
    --color-background: black;
    --color-background-dim: rgba(50,50,50, .5);
    --color-background-translucent: rgba(0,0,0, .8);
    --color-header: rgb(34, 94, 140);
    --color-tech-background: rgba(50, 50, 150, .8);
    --color-tech-shadow: #333;
    --color-links: rgba(0, 150, 255, 0.7);
    --color-links-hover: rgba(0, 150, 255, 1);
    margin: 0 auto;
    background: var(--color-background);
    color: var(--color-foreground);
    max-width: 600px;
}

body.light {
    --color-foreground: black;
    --color-foreground-dimm: #444;
    --color-background: #ddd;
    --color-header: rgb(34, 94, 140);
    --color-header-translucent: rgba(94, 94, 22, 0.5);
    --color-tech-shadow: #444;
    --color-background-dim: rgba(30,30,30, .2);
}

/*#region HEADER */

h1 {
    /* font-family: "Bebas Neue"; */
    font-family: "Roboto";
    text-align: center;
    width: 100%;
    color: var(--color-header);
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 1px solid var(--color-header-translucent);
    margin-bottom: 3px;
}

.header {
    position: absolute;
    z-index: 9999;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    background-color: var(--color-header); 
    text-align: center; 
     
}

.sticky {
    position: fixed;
    top: 0;
}

/*#endregion */

.tech {
    padding: 2px 5px;
    border-radius: 4px;
    background: var(--color-tech-background);
    box-shadow: 1px 1px 2px var(--color-tech-shadow);
    margin: 2px;
    font-size: 12px;
    color: white;
}

a {
    color: var(--color-links);
    text-decoration: none;
}

a:hover {
    color: var(--color-links-hover);
}

.centered-link {
    width: 100%;
    text-align: center;
}

label.hint {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: var(--color-foreground-dimm);
}


/*#region MENU*/



ul.menu {
    padding: 0;
    display: inline-block;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

ul.menu > li {
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    float: left;
    font-size: 12px;
    transition: all .3s ease-out;
}

ul.menu >li:hover{
    background: var(--color-background);
    transition: all .3s ease-in;
}

ul.menu > li > a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-foreground);
}

ul.menu > li > a > svg {
    position: relative;
    padding-right: 3px;
    top: 5px;
    width: 20px;
    height: 20px;
}

.middle-menu {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

/*#endregion */

/*#region LANGUAGE */

.language {
    display: inline-block;
    font-size: 14px;    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;    
}

.language .active {
    color: var(--color-foreground);
}

.language > a {
    color: var(--color-foreground-dimm);
    text-decoration: none;
}

/*#endregion */

/*#region THEME */

.theme {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 15px; 
    margin-right: 10px;
    vertical-align: middle;
}

.theme-icon {
    width: 16px;
    height: 16px;
}

#theme {
    position: relative;
    top: 5px;
    cursor: pointer;
    color: var(--color-foreground);
    border: 1px solid var(--color-foreground-dimm);
    border-radius: 50%;
    background: none;
    padding: 3px;
    transition: all .3s ease-out;
}

#theme:hover {
    border-color: var(--color-foreground);
    background: var(--color-header-translucent);
    transition: all .3s ease-in;
}

/*#endregion */

/*#region HOME */

section.home {
    margin-top: 20px;
    margin-left: 10px
}

.text {
    font-size: 14px;
}

.company-description {
    display: block;
    font-weight: lighter;
    font-style: italic;
    color: var(--color-foreground-dimm);
    padding: 5px;
    background-color: var(--color-background-dim);
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.company-logo {
    display: block;
    width: 120px;    
    margin: 0 auto;
}

.profile-picture {
    position: absolute;
    top: 130px;
    border-radius: 50px;
    width: 130px;
    z-index: 999;
}

span.hidden {
    position: relative;    
    left: -400px;
    opacity: 0;
    transition: all .8s ease-in;    
}

span.visible {
    opacity: 1;
    left: 140px;
    transition: all .8s ease-out;
}

section > hr {
    margin-left: 15px;
    position: relative;
    border: none;
    height: 1px;
    opacity: 0;
    color: var(--color-foreground-dimm);
    background-color: var(--color-foreground-dimm);
}

section >hr.visible {
    opacity: .5;
    transition: all .5s ease-in;
}

section .label {
    color: var(--color-foreground-dimm);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

div.section {
    position: relative;
    top: 110px; 
    width: 98%;
    border: 1px solid var(--color-header-translucent);
    padding: 10px 5px;
    margin-bottom: 20px;
    opacity: 0;
    transition: all .4s ease-out;
}

div.section.visible {
    opacity: 1;
    transition: all .4s ease-in;
}

div.section > h2 {
    border: 0;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: var(--color-header);
    font-weight: 900;
    font-family: "Raleway";
}

.section-icon {
    width: 24px; 
    height: 24px; 
    margin-right: 5px
}

div.section > h3 {
    display: inline-block;
    font-family: "Montserrat";
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

/*#endregion */

/*#region IMAGE SLIDER */

.slider-wrapper {
    position: relative;
    max-width: 450px;
    max-height: 450px;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: .5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    max-height: 450px;
    cursor: pointer;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #555;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.modal-slider {
    background: var(--color-background-translucent);        
    position: fixed;
    max-width: 100% !important;
    min-height: 100% !important;
}

.modal-slider img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

/*#endregion */

/*#region CONTACT */

.label.social-media {
    display: inline-block;
    line-height: 32px;
    vertical-align: middle;
}

a.social-media {
    display: inline-block;
    vertical-align: middle;
}
/*#endregion */