@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

html {
    scroll-behavior: smooth;
}

body {   
    font-family: "Montserrat"; 
    --color-foreground: white;
    --color-foreground-dimm: #aaa;    
    --color-background: black;
    --color-background-dim: rgba(50,50,50, .5);
    --color-background-translucent: rgba(0,0,0, .8);
    --color-header: rgb(34, 94, 140);
    --color-header-translucent: rgba(34, 94, 140, 0.5);
    --color-subtitle-bg: rgba(34, 94, 140, 0.5);
    --color-tech-background: rgba(50, 50, 150, .8);
    --color-tech-shadow: #333;
    --color-links: rgba(0, 150, 255, 0.7);
    --color-links-hover: rgba(0, 150, 255, 1);
    margin: 0 auto;
    background: var(--color-background);
    color: var(--color-foreground);
    max-width: 1000px;
    font-size: 14px;
}

body.light {
    --color-foreground: #333;
    --color-foreground-dimm: #888;
    --color-background: #ddd;
    --color-header: rgb(79, 129, 167);
    --color-header-translucent: rgba(79, 129, 167, 0.5);
    --color-subtitle-bg: rgba(79, 129, 167, 0.5);
    --color-tech-shadow: #444;
    --color-background-dim: rgba(30,30,30, .2);
}

/*#region HEADER */

h1 {
    /* font-family: "Bebas Neue"; */
    font-family: "Roboto";
    text-align: center;
    width: 100%;
    color: var(--color-header);
    text-transform: uppercase;
    font-size: clamp(18px, 24px , 32px);
    border-bottom: 1px solid var(--color-header-translucent);
    margin-bottom: 3px;
}

.header {
    position: absolute;
    z-index: 9999;
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    background-color: var(--color-header); 
    text-align: center; 
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
}

/*#endregion */

.tech {
    padding: 2px 5px;
    border-radius: 4px;
    background: var(--color-tech-background);
    box-shadow: 1px 1px 2px var(--color-tech-shadow);
    margin: 2px;
    line-height: 24px;
    font-size: 12px;
    color: white;
}

a {
    color: var(--color-links);
    text-decoration: none;
}

a:hover {
    color: var(--color-links-hover);
}

.centered-link {
    width: 100%;
    text-align: center;
}

label.hint {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: var(--color-foreground-dimm);
}


/*#region MENU*/



ul.menu {
    padding: 0;
    display: inline-block;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

ul.menu > li {
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    float: left;
    font-size: 12px;
    transition: all .3s ease-out;
    
}

ul.menu > li > a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-foreground);
}

ul.menu >li:hover{
    background: var(--color-background);    
    transition: all .3s ease-in;
}

ul.menu > li > a > svg {
    position: relative;
    padding-right: 3px;
    top: 5px;
    width: 20px;
    height: 20px;
}

.middle-menu {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

/*#endregion */

/*#region LANGUAGE */

.language {
    display: inline-block;
    font-size: 14px;    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;    
}

.language .active {
    color: var(--color-foreground);
}

.language > a {
    color: var(--color-foreground-dimm);
    text-decoration: none;
}

/*#endregion */

/*#region THEME */

.theme {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 15px; 
    margin-right: 10px;
    vertical-align: middle;
}

.theme-icon {
    width: 16px;
    height: 16px;
}

#theme {
    position: relative;
    top: 5px;
    cursor: pointer;
    color: var(--color-foreground);
    border: 1px solid var(--color-foreground-dimm);
    border-radius: 50%;
    background: none;
    padding: 3px;
    transition: all .3s ease-out;
}

#theme:hover {
    border-color: var(--color-foreground);
    background: var(--color-header-translucent);
    transition: all .3s ease-in;
}

/*#endregion */

/*#region HOME */

section.home {
    margin-top: 20px;
    margin-left: 10px
}

.text {
    font-size: 14px;
}

.company-description {
    display: block;
    font-weight: lighter;
    font-style: italic;
    color: var(--color-foreground-dimm);
    padding: 5px;
    background-color: var(--color-background-dim);
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.company-logo {
    display: block;
    width: 120px;    
    margin: 0 auto;
}

.profile-picture {
    position: absolute;
    top: 130px;
    border-radius: 50px;
    width: 130px;
    z-index: 999;
}

span.hidden {
    position: relative;    
    left: -400px;
    opacity: 0;
    transition: all .8s ease-in;    
}

span.visible {
    opacity: 1;
    left: 140px;
    transition: all .8s ease-out;
}

section > hr {
    margin-left: 15px;
    position: relative;
    border: none;
    height: 1px;
    opacity: 0;
    color: var(--color-foreground-dimm);
    background-color: var(--color-foreground-dimm);
}

section >hr.visible {
    opacity: .5;
    transition: all .5s ease-in;
}

section .label {
    color: var(--color-foreground-dimm);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

div.section {
    position: relative;
    top: 110px; 
    width: 98%;
    border: 1px solid var(--color-header-translucent);
    padding: 10px 5px;
    margin-bottom: 20px;
    opacity: 0;
    transition: all .4s ease-out;
}

div.section.visible {
    opacity: 1;
    transition: all .4s ease-in;
}

div.section > h2 {
    border: 0;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: var(--color-foreground);
    font-weight: 900;
    font-family: "Raleway";
    background: var(--color-subtitle-bg);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section-icon {
    width: 24px; 
    height: 24px; 
    margin-right: 5px
}

div.section > h3 {
    display: inline-block;
    font-family: "Montserrat";
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

/*#endregion */

/*#region IMAGE SLIDER */

.slider{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .slides{
    width: 500%;
    height: 350px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 1s;
  }
  
  .slide img{
    width: 350px;
    height: 350px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 350px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid var(--color-header);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 20px;
  }
  
  .manual-btn:hover{
    background:var(--color-header);
  }
  
  .radio1:checked ~ .first{
    margin-left: 0;
  }
  
  .radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  .radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  .radio4:checked ~ .first{
    margin-left: -60%;
  }

  .radio5:checked ~ .first{
    margin-left: -80%;
  }

  .radio6:checked ~ .first{
    margin-left: -100%;
  }

  .radio7:checked ~ .first{
    margin-left: -120%;
  }

  .radio8:checked ~ .first{
    margin-left: -140%;
  }

  .radio9:checked ~ .first{
    margin-left: -160%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 350px;
    justify-content: center;
    margin-top: 310px;
  }
  
  .navigation-auto div{
    border: 2px solid var(--color-header);
    padding: 7px;
    border-radius: 10px;
    transition: .5s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 20px;
  }
  
  .radio1:checked ~ .navigation-auto .auto-btn1{
    background:var(--color-header);
  }
  
  .radio2:checked ~ .navigation-auto .auto-btn2{
    background:var(--color-header);
  }
  
  .radio3:checked ~ .navigation-auto .auto-btn3{
    background:var(--color-header);
  }
  
  .radio4:checked ~ .navigation-auto .auto-btn4{
    background:var(--color-header);
  }

  .radio5:checked ~ .navigation-auto .auto-btn5{
    background:var(--color-header);
  }

  .radio6:checked ~ .navigation-auto .auto-btn6{
    background:var(--color-header);
  }

  .radio7:checked ~ .navigation-auto .auto-btn7{
    background:var(--color-header);
  }

  .radio8:checked ~ .navigation-auto .auto-btn8{
    background:var(--color-header);
  }

  .radio9:checked ~ .navigation-auto .auto-btn9{
    background:var(--color-header);
  }

/*#endregion */

/*#region CONTACT */

.label.social-media {
    display: inline-block;
    line-height: 52px;
    vertical-align: middle;
}

a.social-media {
    display: inline-block;
    vertical-align: middle;
}
/*#endregion */